<h1><%= @facade.merchant.name %></h1>

<h2>Items</h2>
<ol>
  <% @facade.merchant.items.each do |item| %>
    <li>
      <%= item.name %><br>
      Description: <%= item.description %><br>
      Unit Price: <%= item.unit_price %>
    </li>
    <br>
  <% end %>
</ol>